<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Clash Of Clan Api</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="col-md-4">
      <p>What do You Want to Search?</p>
      <ul class="list-group">
        <li class="list-group-item">Player</li>
        <form class="form-group" action="/add" method="GET">
          <input type="text" name="playerTag" class="form-control" style="margin-top:5px;" placeholder="Enter Your Player Tag">
          <button class="btn btn-primary">GET</button>
        </form>
        <li class="list-group-item">Clan</li>
        <form class="form-group" action="/add" method="GET">
          <input type="text" name="clanTag" class="form-control" placeholder="Enter your clan tag" style="margin-top:5px;">
          <button class="btn btn-primary">GET</button>
        </form>
      </ul>
    </div>
  </div>

</body>
</html>
